/* nav bar gradient border */

    #nav .gradient-border {
        border-width: 1px;
        border-radius: 32px;
        border-style: solid;
        border-image: linear-gradient(90deg, #920AA8 2%, #E019CC 20%, #FF81E3 48%, #FC75D6 52%, #DF55F6 60%, #E822EC 71%, #E80F91 75%, #EE19D8 81.25%, #FE3873 100%);
        border-image-slice: 2;
        
      }
      /* carditem */

      #card .gradient-border {
        border: 5px solid;
        border-image: linear-gradient(
          90deg,
          #a8620a 2%,
          #e09519 20%,
          #ffe581 48%,
          #fcdc75 52%,
          #f6c755 60%,
          #eca522 71%,
          #e8980f 75%,
          #feb838 100%
        );
        border-image-slice: 1;
      }
       
      /* card item animation */

      @keyframes slideAnimation {
        0% {
          transform: translateX(200%);
        }
        50% {
          transform: translateX(-5%);
        }
        100% {
          transform: translateX(0%);
        }
      }
      
      #card .gradient-border:nth-child(1) {
        animation: slideAnimation 2s infinite;
        animation-delay: 0s; /* Delay for the first card */
      }
      
      #card .gradient-border:nth-child(2) {
        animation: slideAnimation 2s infinite;
        animation-delay: 0.2s; /* Delay for the second card */
      }
      
      #card .gradient-border:nth-child(3) {
        animation: slideAnimation 2s infinite;
        animation-delay: 0.4s; /* Delay for the third card */
      }
      
      #card .gradient-border:nth-child(4) {
        animation: slideAnimation 2s infinite;
        animation-delay: 0.6s; /* Delay for the fourth card */
      }
      
    
      /* view button gradient hover  */

      #product button {
        background-color: transparent;
        background-image: linear-gradient(90deg, transparent 50%, #920AA8 2%, #E019CC 20%, #FF81E3 48%, #FC75D6 52%, #DF55F6 60%, #E822EC 71%, #E80F91 75%, #EE19D8 81.25%, #FE3873 100%);
        background-size: 200% auto;
        background-position: -100% 50%;
        transition: 0.5s;
      }
      
      #product button:hover {
        background-position: 0% 50%;
      }
      
      /* product brand name gradient text */

      #rubi .gradient-text {

        background-image: linear-gradient(90deg, #A8620A 2%, #E09519 20%, #FFE581 48%, #FCDC75 52%, #F6C755 60%, #ECA522 71%, #E8980F 75%, #FEB838 100%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    
    
      }
      
      /* product detail card below*/
      #detail-card .gradient-border {
        border: 5px solid;
        border-image: linear-gradient(
            90deg,
            #a8620a 2%,
            #e09519 20%,
            #ffe581 48%,
            #fcdc75 52%,
            #f6c755 60%,
            #eca522 71%,
            #e8980f 75%,
            #feb838 100%
          )
          1;
      }

      /* big product detail card above */
      #prod-detail .gradient-border {
        border: 5px solid;
        border-image: linear-gradient(
            90deg,
            #a8620a 2%,
            #e09519 20%,
            #ffe581 48%,
            #fcdc75 52%,
            #f6c755 60%,
            #eca522 71%,
            #e8980f 75%,
            #feb838 100%
          )
          1;
      }
      
      
        /* detail card animation using the previous @keyframes */
        
      #detail-card .gradient-border:nth-child(1) {
          animation: slideAnimation 2s infinite;
          animation-delay: 0s; /* Delay for the first card */
        }
        
      #detail-card .gradient-border:nth-child(2) {
          animation: slideAnimation 2s infinite;
          animation-delay: 0.2s; /* Delay for the second card */
        }
        
      #detail-card .gradient-border:nth-child(3) {
          animation: slideAnimation 2s infinite;
          animation-delay: 0.4s; /* Delay for the third card */
        }
        
      #detail-card .gradient-border:nth-child(4) {
          animation: slideAnimation 2s infinite;
          animation-delay: 0.6s; /* Delay for the fourth card */
        }
        

      