#main button {
        
    background-color: transparent;
    background-image: linear-gradient(to left, transparent 50%, #920AA8 2%, #E019CC 20%, #FF81E3 48%, #FC75D6 52%, #DF55F6 60%, #E822EC 71%, #E80F91 75%, #EE19D8 81.25%, #FE3873 100%);
    background-size: 200% auto;
    background-position: 100% 50%;
   
  }
  
  #main button:hover {
    background-position: 0% 50%;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  #main button.gradient-border {
    border-width: 5px;
  
    border-image: linear-gradient(90deg, #920AA8 2%, #E019CC 20%, #FF81E3 48%, #FC75D6 52%, #DF55F6 60%, #E822EC 71%, #E80F91 75%, #EE19D8 81.25%, #FE3873 100%);
   
  }
  #main .logo-letter {
    display: inline-block;
    opacity: 0;
    animation: letterAnimation 1s ease-in forwards;
  }
  
  @keyframes letterAnimation {
    0% {
      opacity: 0;
      transform: translateY(100%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
